<template>
  <div>
    <div class="headingStyle">
      <label class="headingNewItem">Titel *</label>
    </div>

    <input
      v-bind:class="{ 'input-alert': this.err.title && !this.title}"
      v-model="title"
      class="form-control"
      type="text"
      id="newItemTitle"
      placeholder="Titel eingeben"
    />
    <div class="headingStyle">
      <label class="headingNewItem">Kategorie</label>
    </div>

    <!-- CATEGORIES STARTING HERE -->
    <form id="shopCatForm">
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catDryGoods"
          name="shopCategory"
          value="trockensortiment"
        />
        <label class="form-check-label" for="catDryGoods">Trockensortiment</label>
      </div>
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catDrugstoreGoods"
          name="shopCategory"
          value="drogeriewaren"
        />
        <label class="form-check-label" for="catDrugstoreGoods">Drogeriewaren</label>
      </div>
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catDairyProducts"
          name="shopCategory"
          value="milchprodukte"
        />
        <label class="form-check-label" for="catDairyProducts">Milchprodukte</label>
      </div>
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catDeepFrozen"
          name="shopCategory"
          value="tiefkühlkost"
        />
        <label class="form-check-label" for="catDeepFrozen">Tiefkühlkost</label>
      </div>
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catMeat"
          name="shopCategory"
          value="fleischWurst"
        />
        <label class="form-check-label" for="catMeat">Fleisch / Wurst</label>
      </div>
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catFruits"
          name="shopCategory"
          value="obstGemüse"
        />
        <label class="form-check-label" for="catFruits">Obst / Gemüse</label>
      </div>
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catBread"
          name="shopCategory"
          value="brot"
        />
        <label class="form-check-label" for="catBread">Brot</label>
      </div>
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catDrinks"
          name="shopCategory"
          value="getränke"
        />
        <label class="form-check-label" for="catDrinks">Getränke</label>
      </div>
      <div class="form-check">
        <input
          v-model="shopCat"
          class="form-check-input"
          type="radio"
          id="catSweets"
          name="shopCategory"
          value="süßwarenSnacks"
        />
        <label class="form-check-label" for="catSweets">Süßwaren / Snacks</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="catOther"
          name="shopCategory"
          value="sonstiges"
          v-model="shopCat"
          checked
        />
        <label class="form-check-label" for="catOther">Sonstiges</label>
      </div>

      <!-- CATEGORIES ENDING HERE -->

      <div v-if="editFlag == true">
        <button type="button" class="btn btn-dark ml-1" @click="checkFormEdit">Speichern</button>
        <button type="button" class="btn btn-dark" @click="deleteById">Löschen</button>
      </div>
      <button v-else type="button" class="btn btn-dark" @click="checkForm">Neues Item</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: null,
      category: "shopping",
      shopCat: "sonstiges",
      err: {
        title: false
      },
      editFlag: false,
      underScoreId: null
    };
  },

  methods: {
    checkForm: function(e) {
      if (this.title) {
        this.newItemToStore();
      }
      this.err.title = false;
      if (!this.title) {
        this.err.title = true;
      }
      e.preventDefault();
    },
    newItemToStore: async function() {
      var payload = {
        category: this.category,
        title: this.title,
        shopCat: this.shopCat,
        checkedForDelete: false
      };
      this.$store.dispatch("postNewItem", payload).then(() => {
        this.emptyEntryFiels();
      });
    },
    loadToEditShoppingItem(item) {
      this.editFlag = true;
      this.underScoreId = item._id;
      this.title = item.title;
      this.shopCat = item.shopCat;
    },
    checkFormEdit(e) {
      this.editFlag = false;
      var payload = {
        _id: this.underScoreId,
        category: this.category,
        title: this.title,
        shopCat: this.shopCat,
        checkedForDelete: false
      };
      if (this.title) {
        this.$store.dispatch("updateEditedItemAction", payload).then(() => {
          this.emptyEntryFiels();
        });
      }
      this.err = [];
      if (!this.title) {
        this.err.title = true;
      }
      e.preventDefault();
    },
    deleteById() {
      this.$store.dispatch("deleteItem", this.underScoreId).then(() => {
        this.emptyEntryFiels();
      });
    },
    emptyEntryFiels() {
      this.title = null;
      this.shopCat = "sonstiges";
    }
  },
  mounted() {
    this.$root.$on("EventEditShoppingItem", item => {
      this.loadToEditShoppingItem(item);
    });
  }
};
</script>

<style scoped>
.input-alert {
  outline: red solid 1px;
}
</style>