<template>
  <div>
    <div class="headingStyle">
      <label class="headingNewItem">Titel *</label>
    </div>
    <input
      v-bind:class="{ 'input-alert': this.err.title && !this.title}"
      v-model="title"
      class="form-control"
      type="text"
      id="newItemTitle"
      placeholder="Titel eingeben"
    />
    <div class="headingStyle">
      <label class="headingNewItem" for="newItemDesc">Beschreibung</label>
    </div>
    <input
      v-model="description"
      class="form-control"
      type="text"
      id="newItemDesc"
      placeholder="Beschreibung eingeben"
    />
    <div class="headingStyle">
      <label class="headingNewItem" for="prioForm">Priorität</label>
    </div>
    <form id="prioForm">
      <div class="radio-toolbar-prio form-check form-check-inline">
        <input
          v-model="priority"
          class="form-check-input"
          type="radio"
          id="catLow"
          name="priority"
          value="low"
        />
        <label id="radioLow" class="form-check-label" for="catLow">niedrig</label>
        <input
          v-model="priority"
          class="form-check-input"
          type="radio"
          id="catAvg"
          name="priority"
          value="avg"
          checked
        />
        <label id="radioMiddle" class="form-check-label" for="catAvg">mittel</label>
        <input
          v-model="priority"
          class="form-check-input"
          type="radio"
          id="catHigh"
          name="priority"
          value="high"
        />
        <label id="radioHigh" class="form-check-label" for="catHigh">hoch</label>
      </div>
    </form>
    <div class="headingStyle">
      <label class="headingNewItem" for="startDate">Start</label>
    </div>
    <div class="box">
      <section>
        <DatePicker
          v-model="start"
          type="datetime"
          placeholder="Stadtdatum wählen"
          format="YYYY-MM-DD hh:mm"
          :minute-step="5"
          :show-time-panel="showTimePanel"
          :open.sync="openStart"
          @close="handleOpenChange"
        >
          <template v-slot:footer>
            <button
              class="btn btn-dark"
              @click="allDayStartClick()"
              style="margin-right:3px;"
            >ganztägig</button>
            <button
              class="btn btn-dark"
              @click="toggleTimePanel"
            >{{ showTimePanel ? 'Tag auswählen' : 'Uhrzeit auswählen' }}</button>
          </template>
        </DatePicker>
      </section>
    </div>
    <div class="headingStyle">
      <label class="headingNewItem" for="endDate">Ende</label>
    </div>
    <div class="box">
      <section>
        <DatePicker
          v-model="end"
          type="datetime"
          placeholder="Enddatum wählen"
          format="YYYY-MM-DD hh:mm"
          :minute-step="5"
          :show-time-panel="showTimePanel"
          @close="handleOpenChange"
          :disabled="endDisable"
        >
          <template v-slot:footer>
            <button
              class="btn btn-dark"
              @click="toggleTimePanel"
            >{{ showTimePanel ? 'Tag auswählen' : 'Uhrzeit auswählen' }}</button>
          </template>
        </DatePicker>
      </section>
    </div>
    <div class="headingStyle">
      <label class="headingNewItem" for="reminder">Erinnerung</label>
    </div>
    <div class="box">
      <section>
        <DatePicker
          v-model="reminder"
          type="datetime"
          placeholder="Erinnerung wählen"
          format="YYYY-MM-DD hh:mm"
          :minute-step="5"
          :show-time-panel="showTimePanel"
          @close="handleOpenChange"
        >
          <template v-slot:footer>
            <button
              class="btn btn-dark"
              @click="toggleTimePanel"
            >{{ showTimePanel ? 'Tag auswählen' : 'Uhrzeit auswählen' }}</button>
          </template>
        </DatePicker>
      </section>
    </div>
    <div class="headingStyle">
      <label class="headingNewItem" for="newItemHash">Tags *</label>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend2">
          <i class="fas fa-hashtag"></i>
        </span>
      </div>
      <input
        v-bind:class="{ 'input-alert': this.err.hashtag && !this.hashtag}"
        v-model="hashtag"
        class="form-control"
        type="text"
        id="newItemHash"
        placeholder="Stichwort eingeben"
      />
    </div>
    <div v-if="editFlag == true">
      <button type="button" class="btn btn-dark ml-1" @click="checkFormEdit">Speichern</button>
      <button type="button" class="btn btn-dark" @click="deleteById">Löschen</button>
    </div>
    <button v-else type="button" class="btn btn-dark" @click="checkForm">Neues Item</button>
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  data() {
    return {
      category: "todo",
      hashtag: null,
      title: null,
      description: null,
      start: null,
      end: null,
      priority: "avg",
      reminder: null,
      recurring: null,
      err: {
        title: false,
        hashtag: false
      },
      value: null,
      showTimePanel: false,
      openStart: false,
      endDisable: false,
      editFlag: false,
      underScoreId: null
    };
  },
  components: {
    DatePicker
  },
  methods: {
    checkForm: function(e) {
      if (this.title && this.hashtag) {
        this.hashtagTrim();
        this.newItemToStore();
      }
      this.err.title = false;
      this.err.hashtag = false;

      if (!this.title) {
        this.err.title = true;
      }
      if (!this.hashtag) {
        this.err.hashtag = true;
      }
      e.preventDefault();
    },
    hashtagTrim: function() {
      if (this.hashtag) {
        let hashtagTrim = this.hashtag.toLowerCase();
        this.hashtag = hashtagTrim.replace(/\s+/g, "-");
      }
    },
    newItemToStore: async function() {
      let payload = {
        category: this.category,
        hashtag: this.hashtag,
        title: this.title,
        priority: this.priority,
        description: this.description,
        start: this.start,
        end: this.end,
        reminder: this.reminder,
        checkedForDelete: false
      };
      this.$store.dispatch("postNewItem", payload).then(() => {
        this.emptyEntryFiels();
      });
    },
    toggleTimePanel() {
      this.showTimePanel = !this.showTimePanel;
      this.endDisable = false;
    },
    handleOpenChange() {
      this.showTimePanel = false;
    },
    allDayStartClick() {
      if (this.start != null) {
        this.start.setHours(0, 0, 0, 0);
        this.end = new Date(this.start);
        this.end.setDate(this.start.getDate() + 1);
        this.openStart = false;
        this.endDisable = true;
      } else {
        this.err.push("Startdatum auswählen");
      }
    },
    loadToEditTodoItem(item) {
      this.editFlag = true;
      this.underScoreId = item._id;
      this.hashtag = item.hashtag;
      this.title = item.title;
      this.priority = item.priority;
      this.description = item.description;
      this.start = item.start;
      this.end = item.end;
      this.reminder = item.reminder;
    },
    checkFormEdit: function(e) {
      if (this.title && this.hashtag) {
        this.hashtagTrim();
        var payload = {
          _id: this.underScoreId,
          category: this.category,
          title: this.title,
          hashtag: this.hashtag,
          priority: this.priority,
          description: this.description,
          start: this.start,
          end: this.end,
          reminder: this.reminder
        };

        this.$store.dispatch("updateEditedItemAction", payload).then(() => {
          this.emptyEntryFiels();
          this.editFlag = false;
        });
      }
      this.err.title = false;
      this.err.hashtag = false;
      if (!this.title) {
        this.err.title = true;
      }
      if (!this.hashtag) {
        this.err.hashtag = true;
      }
      e.preventDefault();
    },
    deleteById() {
      this.$store.dispatch("deleteItem", this.underScoreId).then(() => {
        this.emptyEntryFiels();
      });
    },
    emptyEntryFiels() {
      this.title = null;
      this.description = null;
      this.priority = "avg";
      this.start = null;
      this.end = null;
      this.reminder = null;
      this.hashtag = null;
      this.endDisable = false;
    }
  },
  mounted() {
    this.$root.$on("EventEditTodoItem", item => {
      this.loadToEditTodoItem(item);
    });
  }
};
</script>

<style scoped>
.mx-datepicker {
  width: 100%;
}
.mx-datepicker >>> .mx-input {
  color: initial;
}

.input-alert {
  outline: red solid 1px;
}

.radio-toolbar-prio #radioLow {
  background-color: #e2eed8;
  padding: 0px 10px;
  color: #373a3c;
  font-size: 12px;
  border: 2px solid #5cb85c;
  border-radius: 4px;
}

.radio-toolbar-prio #radioMiddle {
  background-color: #fcf7e4;
  padding: 0px 10px;
  color: #373a3c;
  font-size: 12px;
  border: 2px solid #f0ad4e;
  border-radius: 4px;
}

.radio-toolbar-prio #radioHigh {
  background-color: #efdfdf;
  padding: 0px 10px;
  color: #373a3c;
  font-size: 12px;
  border: 2px solid #d9534f;
  border-radius: 4px;
}
</style>