<template>
  <div class="card">
    <div class="card-header bg-dark text-white w-100">
      neuer Eintrag
      <button
        v-if="modal"
        @click="close"
        class="close text-white"
        style="float:right"
      >x</button>
    </div>
    <div class="card-body">
      <form id="catForm" class="d-flex justify-content-around">
        <div class="radio-toolbar form-check form-check-inline">
          <div v-if="this.name == 'Calendar' || this.name == 'Einkaufen' || this.name =='ToDos'">
            <router-link to="/todos">
              <input
                type="radio"
                id="catTodoRadio"
                name="category"
                value="NewItemTodo"
                v-model="component"
                checked
              />
              <label class="form-check-label" for="catTodoRadio">Todo</label>
            </router-link>
          </div>
          <div v-else>
            <input
              type="radio"
              id="catTodoRadio"
              name="category"
              value="NewItemTodo"
              v-model="component"
            />
            <label class="form-check-label" for="catTodoRadio">Todo</label>
          </div>
          <div v-if="this.name == 'Calendar' || this.name == 'Einkaufen' || this.name =='ToDos'">
            <router-link to="/calendar">
              <input
                type="radio"
                id="catAppoRadio"
                name="category"
                value="NewItemAppo"
                v-model="component"
                checked
              />
              <label class="form-check-label" for="catAppoRadio">Termin</label>
            </router-link>
          </div>
          <div v-else>
            <input
              type="radio"
              id="catAppoRadio"
              name="category"
              value="NewItemAppo"
              v-model="component"
            />
            <label class="form-check-label" for="catAppoRadio">Termin</label>
          </div>
          <div v-if="this.name == 'Calendar' || this.name == 'Einkaufen' || this.name =='ToDos'">
            <router-link to="/groceries">
              <input
                type="radio"
                id="catShopRadio"
                name="category"
                value="NewItemShopping"
                v-model="component"
                checked
              />
              <label class="form-check-label" for="catShopRadio">Einkaufen</label>
            </router-link>
          </div>
          <div v-else>
            <input
              type="radio"
              id="catShopRadio"
              name="category"
              value="NewItemShopping"
              v-model="component"
            />
            <label class="form-check-label" for="catShopRadio">Einkaufen</label>
          </div>
        </div>
        <!-- RADIO END -->
      </form>
      <div class="newItemContainer">
        <component :is="component" />
      </div>
    </div>
  </div>
</template>


<script>
import NewItemShopping from "./NewItemShopping";
import NewItemTodo from "./NewItemTodo";
import NewItemAppo from "./NewItemAppo";

export default {
  components: {
    NewItemShopping,
    NewItemTodo,
    NewItemAppo
  },
  props: {
    modal: {
      type: Boolean
    },
    name: {
      type: String
    }
  },
  data() {
    return {
      component: null
    };
  },
  methods: {
    close() {
      this.$emit("close");
      console.log("NewItemFrame emitted close");
    }
  },
  created() {
    if (this.name == "Calendar") {
      this.component = "NewItemAppo";
    } else if (this.name == "ToDos") {
      this.component = "NewItemTodo";
    } else if (this.name == "Einkaufen") {
      this.component = "NewItemShopping";
    } else {
      this.component = "NewItemTodo";
    }
  }
};
</script>

<style scoped>
.newItemContainer >>> button {
  margin-top: 10px;
  float: right;
}

.newItemContainer >>> .headingStyle {
  margin-left: -17.5px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 200px;
  height: 25px;
  background-color: var(--blue);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.newItemContainer >>> .headingNewItem {
  color: white;
  position: static;
  padding-left: 5px;
}
/*-------------------------------------*/

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  display: inline-block;
  background-color: white;
  padding: 0px 10px;
  color: #373a3c;
  font-size: 18px;
  border: 2px solid #373a3c;
  border-radius: 4px;
}
.radio-toolbar input[type="radio"]:checked + label {
  background-color: #373a3c;
  border-color: #373a3c;
  color: white;
}

.radio-toolbar label:hover {
  background-color: #373a3c;
  border-color: #373a3c;
  color: white;
}
label {
  margin-left: 3px;
  margin-right: 8px;
}
</style>