
<!-- template for the modal component -->
<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="card bg-light mb-3">
          <div class="card-header bg-dark text-white">
            Neue Liste
            <button @click="close" class="close" style="float:right">x</button>
          </div>
          <div class="card-body">
            <p class="card-text">Füge hier eine Liste hinzu, die du in der Sidebar sehen möchtest.</p>
            <form class="form-inline">
              <div class="form-group mr-sm-3 mb-2">
                <label for="inputTag" class="sr-only">Name</label>
                <input
                  v-bind:class="{ 'input-alert': this.err.title && !this.title}"
                  v-model="inputTag"
                  minlength="1"
                  type="text"
                  class="form-control"
                  id="inputTag"
                  placeholder="Name"
                />
              </div>
              <button @click="submit" type="button" class="btn btn-dark mb-2">Hinzufügen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>



<script>
export default {
  name: "SidebarModal",
  data() {
    return {
      inputTag: null,
      err: {
        title: false
      }
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    async submit() {
      if (!this.inputTag) {
        this.err.title = true;
      } else {
        this.err.title = false;
        let inputTag = this.inputTag.toLowerCase();
        inputTag = inputTag.replace(/\s+/g, "-");

        this.$root.$emit("eventAddNewSidebarTag", inputTag);
        this.inputTag = null;
        this.close();
      }
    }
  }
};
</script>


<style scoped>
.card {
  max-width: 500px;
  margin: 0 auto;
}

.close {
  color: white;
}

.input-alert {
  outline: red solid 1px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>