<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="contain">
          <div class="card">
            <div class="card-header bg-dark text-white w-100">
              sortieren
              <button @click="close" class="close text-white" style="float:right">x</button>
            </div>
            <div class="card-body">
              <button
                type="button"
                class="btn btn-dark ml-1"
                @click="selectSortBy('hashtag')"
              >hashtag</button>
              <button type="button" class="btn btn-dark ml-1" @click="selectSortBy('title')">Titel</button>
              <button type="button" class="btn btn-dark ml-1" @click="selectSortBy('date')">Datum</button>
              <button
                type="button"
                class="btn btn-dark ml-1"
                @click="selectSortBy('priority')"
              >Priorität</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "SortTodoModal",

  methods: {
    close() {
      this.$emit("close");
    },
    selectSortBy(param) {
      this.$root.$emit("sortEvent", param);
      this.close();
    }
  }
};
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.contain {
  width: 380px;
  margin: 0 auto;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>