
<!-- template for the modal component -->
<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="card bg-light mb-3" style="width:300px;margin:0 auto;">
          <div class="card-header bg-dark text-white w-100">
            Einstellungen
            <button @click="close" class="close text-white" style="float:right">x</button>
          </div>
          <div class="card-body gridDashboardSettings">
            <label class="checkboxContainer">
              <input type="checkbox" v-model="calendar" />
              <span class="checkmark"></span>
            </label>
            <div class="tag">Kalender</div>
            <!--<label class="checkboxContainer">
              <input type="checkbox" v-model="calendar7Days" />
              <span class="checkmark"></span>
            </label>           
            <div class="tag">Nächsten 7 Tage</div>-->
            <label class="checkboxContainer">
              <input type="checkbox" v-model="shopping" />
              <span class="checkmark"></span>
            </label>
            <div class="tag">Einkaufsliste</div>
            <hr />
            <p>Auf dem Dashboard angezeigte Tags (Platz für {{dashboardTagSpace}}):</p>
            <div v-for="tag in visibleTags" :key="tag">
              <label class="checkboxContainer">
                <input type="checkbox" @click="removeTag(tag)" :checked="true" />
                <span class="checkmark"></span>
              </label>
              <div class="tag">{{tag}}</div>
            </div>
            <hr />
            <p>Tags die nichtmehr auf das Dashboard passen:</p>
            <div v-for="tag in hiddenTags" :key="tag">
              <label class="checkboxContainer">
                <input type="checkbox" @click="addTag(tag)" :checked="false" />
                <span class="checkmark"></span>
              </label>
              <div class="tag">{{tag}}</div>
            </div>
            <button class="btn btn-dark btn-outline-light" v-on:click="saveSelections()">speichern</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>



<script>
import PlanService from "../../PlanService";

export default {
  name: "TopnavbarNewItemModal",
  components: {},
  data() {
    return {
      dashboardTagsDefault: {},
      calendar: true,
      calendar7Days: true,
      shopping: true
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    async loadData() {
      this.dashboardTagsDefault = await PlanService.getDashboardTagsDefault();
      this.calendar = this.dashboardTagsDefault.calendar;
      this.calendar7Days = this.dashboardTagsDefault.calendar7Days;
      this.shopping = this.dashboardTagsDefault.shopping;
    },
    async saveSelections() {
      var defaultLists = {
        calendar: this.calendar,
        calendar7Days: this.calendar,
        shopping: this.shopping
      };
      var customLists = this.visibleTags.concat(this.hiddenTags);

      await PlanService.setDashboardTagsDefault(defaultLists);
      await PlanService.setDashboardTagsCustom(customLists);
      location.reload(true);
    },
    addTag(tag) {
      if (this.visibleTags.length < this.dashboardTagSpace) {
        this.hiddenTags.splice(this.hiddenTags.indexOf(tag), 1);
        this.visibleTags.push(tag);
      }
    },
    removeTag(tag) {
      this.visibleTags.splice(this.visibleTags.indexOf(tag), 1);
      this.hiddenTags.push(tag);
    }
  },
  async created() {
    this.loadData();
  },
  computed: {
    dashboardTagSpace() {
      if (this.calendar) {
        var spaceCalendar = 6;
      } else {
        spaceCalendar = 0;
      }
      if (this.shopping) {
        var spaceShopping = 1;
      } else {
        spaceShopping = 0;
      }

      return 12 - spaceCalendar - spaceShopping;
    }
  },
  asyncComputed: {
    async visibleTags() {
      var allTags = await PlanService.getDashboardTagsCustom();
      return allTags.splice(0, this.dashboardTagSpace);
    },
    async hiddenTags() {
      var allTags = await PlanService.getDashboardTagsCustom();
      return allTags.splice(this.dashboardTagSpace);
    }
  }
};
</script>


<style scoped>
.tag {
  margin-left: 25px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>