
<!-- template for the modal component -->
<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="contain">
          <NewItemFrame :modal="true" v-on:close="close" />
        </div>
      </div>
    </div>
  </transition>
</template>



<script>
import NewItemFrame from "../RightSideNewItem/NewItemFrame";

export default {
  name: "TopnavbarNewItemModal",
  components: {
    NewItemFrame
  },

  methods: {
    close() {
      this.$emit("close");
      console.log("topnavbarModal emitted close");
    }
  }
};
</script>


<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.contain {
  width: 300px;
  margin: 0 auto;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>