<template>
  <div class="grid">
    <div class="card withDate">
      <div class="card-header bg-dark text-white">Mit Termin</div>
      <div class="card-body">
        <div
          v-if="!Object.keys(content[1]).every(function(key) { //check if any data got loaded with the store getter. if not error gets displayed 
        return content[1][key].length === 0;
      })"
        >
          <div v-for="(timedCat, key, index) in content[1]" v-bind:key="timedCat.key">
            <AllTimedCatCard :timedCatProp="timedCat" :labelProp="labelArray[index]" />
          </div>
        </div>
        <div v-else>
          <h2>Es wurde keine Einträge mit Datum gefunden. Füge einen Eintrag mit Datum hinzu oder überprüfe deine Internetverbindung und versuche es erneut</h2>
        </div>
      </div>
    </div>
    <div class="card withoutDate">
      <div class="card-header bg-dark text-white">Ohne Termin</div>
      <div class="card-body">
        <div v-if="content[0].length > 0">
          <div v-for="itemNoDate in content[0]" v-bind:key="itemNoDate._id">
            <div v-if="itemNoDate.checkedForDelete == false" class="gridWithoutDate">
              <label class="checkboxContainer">
                <input type="checkbox" v-on:click="checkedForDelete(itemNoDate)" />
                <span
                  v-bind:class="{'checkmark checkmarkLow': itemNoDate.priority =='low',
                        'checkmark checkmarkAvg': itemNoDate.priority =='avg',
                        'checkmark checkmarkHigh': itemNoDate.priority =='high',}"
                ></span>
              </label>
              <div class="noDateTitel">
                {{itemNoDate.title}}
                <hr />
              </div>
            </div>
            <div v-else class="gridWithoutDate">
              <label class="checkboxContainer">
                <input type="checkbox" v-on:click="checkedForDelete(itemNoDate)" checked />
                <span
                  v-bind:class="{'checkmark checkmarkLow': itemNoDate.priority =='low',
                        'checkmark checkmarkAvg': itemNoDate.priority =='avg',
                        'checkmark checkmarkHigh': itemNoDate.priority =='high',}"
                ></span>
              </label>
              <div class="noDateTitel">
                <del>{{itemNoDate.title}}</del>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <h2>Es wurde keine Einträge ohne Datum gefunden. Füge einen Eintrag ohne Datum hinzu oder überprüfe deine Internetverbindung und versuche es erneut</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AllTimedCatCard from "./AllTimedCatCard";

export default {
  components: {
    AllTimedCatCard
  },
  props: {
    name: {
      type: String
    }
  },
  data() {
    return {
      labelArray: [
        "Heute",
        "Morgen",
        "Übermorgen",
        "Rest der Woche",
        "Nächste Woche",
        "Rest des Monats",
        "Nächster Monat",
        "Rest des Jahres"
      ],
      tmpDataSplitDate: {
        today: [],
        tomorrow: [],
        theDayAfterTomorrow: [],
        restOfWeek: [],
        nextWeek: [],
        restOfMonth: [],
        nextMonth: [],
        restOfYear: []
      }
    };
  },
  methods: {
    async checkedForDelete(item) {
      this.$store.dispatch("checkedForDeleteAction", item);
    },
    //depending on the route different content gets loaded from store. this way this component can be used multiple times
    loadContent(route) {
      this.tmpDataSplitDate.today.splice(0);
      this.tmpDataSplitDate.tomorrow.splice(0);
      this.tmpDataSplitDate.theDayAfterTomorrow.splice(0);
      this.tmpDataSplitDate.restOfWeek.splice(0);
      this.tmpDataSplitDate.nextWeek.splice(0);
      this.tmpDataSplitDate.restOfMonth.splice(0);
      this.tmpDataSplitDate.nextMonth.splice(0);
      this.tmpDataSplitDate.restOfYear.splice(0);
      if (route.name == "all") {
        var data = [];
        data.push(this.$store.getters.getTodoAppoWithoutDate);
        data.push(
          this.$store.getters.getTodoAppoWithDateWithDateCategories(
            this.tmpDataSplitDate
          )
        );
        return data;
      } else {
        var dataHashtag = [];
        dataHashtag.push(
          this.$store.getters.getItemsByHashtagWithoutDate(
            route.params.tag.toLowerCase()
          )
        );
        dataHashtag.push(
          this.$store.getters.getItemsByHashtagWithDateWithDateCategories(
            route.params.tag.toLowerCase(),
            this.tmpDataSplitDate
          )
        );
        return dataHashtag;
      }
    }
  },
  computed: {
    content() {
      return this.loadContent(this.$route);
    }
  }
};
</script>

<style scoped>
ul {
  list-style: none;
}

.card {
  overflow: hidden;
}

.card-body {
  height: 100%;
  overflow-y: auto;
}

.grid,
.withDate,
.withoutDate {
  height: 100%;
  width: 100%;
}

.gridWithoutDate {
  width: 100%;
  display: grid;
}

.noDateTitel {
  width: 100%;
}
.noDateCheckbox {
  width: 100%;
}

.grid {
  display: grid;
}

/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: auto;
    grid-template-rows: 100%;
    grid-column-gap: 10px;
  }
  .gridWithoutDate {
    grid-template-columns: 1fr 10fr;
    grid-column-gap: 5px;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .grid {
    grid-template-columns: auto 100px;
    grid-template-rows: 100%;
    grid-column-gap: 10px;
  }
  .gridWithoutDate {
    grid-template-columns: 1fr 10fr;
    grid-column-gap: 5px;
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .grid {
    grid-template: 1fr / 2fr 1fr;
    grid-column-gap: 10px;
  }

  .gridWithoutDate {
    grid-template-columns: 1fr 10fr;
    grid-column-gap: 5px;
  }
}
</style>
