<template>
  <div class="allCard">
    <div v-if="timedCatItems.length > 0">
      <div class="titleBox">{{label}}</div>
      <ul>
        <li v-for="userdata in timedCatItems" v-bind:key="userdata._id">
          <div v-if="userdata.category=='todo'">
            <div v-if="userdata.checkedForDelete == true" class="gridWithDate">
              <label class="checkboxContainer">
                <input type="checkbox" v-on:click="checkedForDelete(userdata)" checked />
                <span
                  v-bind:class="{'checkmark checkmarkLow': userdata.priority =='low',
                        'checkmark checkmarkAvg': userdata.priority =='avg',
                        'checkmark checkmarkHigh': userdata.priority =='high',}"
                ></span>
              </label>
              <del class="gridCenter">{{userdata.title}}</del>
              <span
                class="gridRight"
                v-if="userdata.start.getHours() == 0 && userdata.end.getHours() == 0 && userdata.end.getDate() - userdata.start.getDate() == 1"
              >ganztägig {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <span
                class="gridRight"
                v-else-if="userdata.start.getMinutes() < 10"
              >{{userdata.start.getHours()}}:0{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <span
                class="gridRight"
                v-else
              >{{userdata.start.getHours()}}:{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <hr class="gridCenter" />
            </div>
            <div v-else class="textTodoFalse gridWithDate">
              <label class="checkboxContainer">
                <input type="checkbox" v-on:click="checkedForDelete(userdata)" />
                <span
                  v-bind:class="{'checkmark checkmarkLow': userdata.priority =='low',
                        'checkmark checkmarkAvg': userdata.priority =='avg',
                        'checkmark checkmarkHigh': userdata.priority =='high',}"
                ></span>
              </label>
              <div class="gridCenter">{{userdata.title}}</div>
              <span
                class="gridRight"
                v-if="userdata.start.getHours() == 0 && userdata.end.getHours() == 0 && userdata.end.getDate() - userdata.start.getDate() == 1"
              >ganztägig {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <span
                class="gridRight"
                v-else-if="userdata.start.getMinutes() < 10"
              >{{userdata.start.getHours()}}:0{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <span
                class="gridRight"
                v-else
              >{{userdata.start.getHours()}}:{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <hr class="gridCenter" />
            </div>
          </div>
          <div class="gridWithDate" v-else>
            <i class="far fa-calendar-alt iconStyle"></i>
            <div class="gridCenter">{{userdata.title}}</div>
            <span
              class="gridRight"
              v-if="userdata.start.getHours() == 0 && userdata.end.getHours() == 0 && userdata.end.getDate() - userdata.start.getDate() == 1"
            >ganztägig {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
            <span
              class="gridRight"
              v-else-if="userdata.start.getMinutes() < 10"
            >{{userdata.start.getHours()}}:0{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
            <span
              class="gridRight"
              v-else
            >{{userdata.start.getHours()}}:{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
            <hr class="gridCenter" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    timedCatProp: {
      type: Array
    },
    labelProp: {
      type: String
    }
  },
  data() {
    return {
      timedCatItems: this.timedCatProp,
      label: this.labelProp
    };
  },
  methods: {
    async checkedForDelete(item) {
      this.$store.dispatch("checkedForDeleteAction", item);
    }
  }
};
</script>

<style scoped>
ul {
  list-style: none;
}

.titleBox {
  margin-left: -17.5px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 200px;
  height: 25px;
  background-color: var(--blue);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  position: static;
  padding-left: 5px;
}

.gridRight {
  justify-self: end;
}
.gridWithDate {
  height: 100%;
  width: 100%;
  display: grid;
}

.gridLeft .gridRight .gridCenter {
  width: 100%;
  height: 100%;
}

.iconStyle {
  margin-top: 6px;
  color: #373a3c;
}

/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .gridWithDate {
    grid-template-columns: 1fr 12fr 3fr;
    grid-column-gap: 5px;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .gridWithDate {
    grid-template-columns: 1fr 12fr 3fr;
    grid-column-gap: 5px;
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .gridWithDate {
    grid-template-columns: 1fr 12fr 3fr;
    grid-column-gap: 5px;
  }

  .gridLeft {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .gridRight {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .gridCenter {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
</style>