<template>
  <div class="card">
    <div class="card-header bg-dark text-white">Kalender</div>

    <FullCalendar
      v-if="calenderContent.length > 0"
      class="card-body"
      locale="de"
      :plugins="calendarPlugins"
      :header="{
        left: 'title',
        center: 'dayGridMonth, timeGridWeek, timeGridDay',
        right: 'prev next today'
      }"
      :buttonText="{
        today: 'heute',
        month: 'Monat',
        week: 'Woche',
        day: 'Tag'
      }"
      :selectable="true"
      :events="calenderContent"
      v-on:select="handleSelect"
      v-on:eventClick="handleEventClick"
    />
    <div v-else>
      <h1>Es befinden sich keine Termine in deinem Kalender. Füge einen Termin hinzu oder überprüfe deine Internetverbindung und versuche es erneut.</h1>
    </div>
  </div>
</template>

<script>
require("@fullcalendar/core/main.css");
require("@fullcalendar/daygrid/main.css");
require("@fullcalendar/timegrid/main.css");

import FullCalendar from "@fullcalendar/vue";
import DayGridPlugin from "@fullcalendar/daygrid";
import TimeGridPlugin from "@fullcalendar/timegrid";
import InteractionPlugin from "@fullcalendar/interaction";
import ListPlugin from "@fullcalendar/list";

export default {
  components: {
    FullCalendar
  },
  data() {
    return {
      calendarPlugins: [
        DayGridPlugin,
        TimeGridPlugin,
        InteractionPlugin,
        ListPlugin
      ]
    };
  },
  methods: {
    handleSelect(item) {
      //function that gets called when an empty space is clicked in the calendar
      var myItem = {
        category: "appointment",
        title: "Titel eingeben",
        description: "Beschreibung eingeben",
        start: item.start,
        end: item.end,
        tempFinder: true,
        backgroundColor: "#d7d7d7",
        borderColor: "black"
      };

      this.$store.commit("deleteTempAppo");
      this.$root.$emit("calendarItemClicked", myItem);

      this.$store.commit("pushItem", myItem);
    },
    handleEventClick(item) {
      //function that gets called when an event is clicked in the calendar
      this.$store.commit("deleteTempAppo");
      var myitem = this.$store.getters.getOurItemByCalendarItemId(
        item.event.id
      );
      this.$root.$emit("EventEditAppoItem", myitem);

      this.$store.commit("calenderEventClickedStyle", item.event.id);
    }
  },
  computed: {
    calenderContent() {
      return this.$store.getters.getItemsByCategory("appointment");
    }
  }
};
</script>

<style scoped>
.card {
  height: 100%;
  overflow: hidden;
}

FullCalendar >>> .card-body .fc .fc-ltr .fc-unthemed {
  height: 100%;
}
</style>
