<template>
  <div class="frame">
    <component :name="name" :is="component" />
  </div>
</template>

<script>
import ShoppingContent from "./ShoppingContent";
import TodoContent from "./TodoContent";
import AllContent from "./AllContent";
import CalendarContent from "./CalendarContent";

export default {
  components: {
    ShoppingContent,
    TodoContent,
    AllContent,
    CalendarContent
  },
  props: {
    name: {
      type: String
    },
    comp: {
      type: String
    }
  },
  data() {
    return {
      component: this.comp
    };
  }
};
</script>

<style scoped>
.frame {
  height: 100%;
  overflow: hidden;
}
</style>
