<template>
  <div class="outerContainer">
    <div
      v-if="!Object.keys(shoppingContent).every(function(key) {  //check if any data got loaded with the store getter. if not error gets displayed 
        return shoppingContent[key].length === 0;
      })"
      class="gridShopping"
    >
      <ShoppingCatCard
        v-for="(shopCat, key, index) in shoppingContent"
        v-bind:key="shopCat.key"
        :shopCatProp="shopCat"
        :labelProp="labelArray[index]"
      />
    </div>
    <div v-else>
      <h1>Es wurden keine Shopping Items gefunden. Füge Waren hinzu oder überprüfe deine Internetverbindung und versuche es erneut.</h1>
    </div>
  </div>
</template>

<script>
import ShoppingCatCard from "./ShoppingCatCard";

export default {
  components: {
    ShoppingCatCard
  },
  data() {
    return {
      labelArray: [
        "Trockensortiment",
        "Drogeriewaren",
        "Milchprodukte",
        "Tiefkühlkost",
        "Fleisch und Wurst",
        "Obst und Gemüse",
        "Brot",
        "Getränke",
        "Süßwaren und Snacks",
        "Sonstiges"
      ],
      emptyFlag: false
    };
  },
  computed: {
    shoppingContent() {
      return this.$store.getters.getItemsByCategory("shopping");
    }
  }
};
</script>

<style scoped>
.outerContainer,
.gridShopping {
  height: 100%;
  width: 100%;
}
.gridShopping {
  display: grid;
}

/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .gridShopping {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .gridShopping {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .gridShopping {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
}
</style>