<template>
  <div class="card">
    <div class="card-header bg-dark text-white">{{label}}</div>
    <div class="card-body">
      <div v-for="userdata in shopCatItems" v-bind:key="userdata._id">
        <div v-if="userdata.checkedForDelete == true">
          <label class="checkboxContainer">
            <input type="checkbox" name="checkbox" v-on:click="checkedForDelete(userdata)" checked />
            <span class="checkmark"></span>
          </label>
          <span
            class="line-through itemTitle"
            @click="editShoppingItem(userdata)"
          >{{userdata.title}}</span>
        </div>
        <div v-else>
          <label class="checkboxContainer">
            <input type="checkbox" name="checkbox" v-on:click="checkedForDelete(userdata)" />
            <span class="checkmark"></span>
          </label>
          <span class="itemTitle" @click="editShoppingItem(userdata)">{{userdata.title}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    shopCatProp: {
      type: Array
    },
    labelProp: {
      type: String
    }
  },
  data() {
    return {
      shopCatItems: this.shopCatProp,
      label: this.labelProp
    };
  },
  methods: {
    async checkedForDelete(item) {
      this.$store.dispatch("checkedForDeleteAction", item);
    },
    editShoppingItem(item) {
      this.$root.$emit("EventEditShoppingItem", item);
    }
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
};
</script>

<style scoped>
.card {
  height: 100%;
  overflow: hidden;
}

.card-body {
  overflow-y: auto;
}

.line-through {
  text-decoration: line-through;
}

ul {
  list-style-type: none;
}

.itemTitle {
  margin-left: 25px;
}

.checkboxContainer {
  margin-bottom: 8px;
}
</style>