<template>
  <div class="card todoOutline">
    <div class="card-header bg-dark text-white">Todos</div>
    <div v-if="todoContent.length > 0" class="card-body todoGrid">
      <div v-for="todoItem in todoContent" v-bind:key="todoItem._id">
        <TodoItemCard :item="todoItem" />
      </div>
    </div>
    <div v-else>
      <h1>Es wurden keine Todos gefunden. Füge ein Todo hinzu oder überprüfe deine Internetverbindung und versuche es erneut.</h1>
    </div>
  </div>
</template>

<script>
import TodoItemCard from "./TodoItemCard";

export default {
  components: {
    TodoItemCard
  },
  data() {
    return {
      sortBy: "date"
    };
  },
  mounted() {
    this.$root.$on("sortEvent", param => {
      this.sortBy = param;
    });
  },
  computed: {
    todoContent() {
      //store getter for todo data. depending on sortyBy State the data gets sorted differently
      var data = this.$store.getters.getItemsByCategory("todo");
      if (this.sortBy == "date") {
        data.sort(function(a, b) {
          return new Date(a.end) - new Date(b.end);
        });
      } else if (this.sortBy == "hashtag") {
        data.sort(function(a, b) {
          if (a.hashtag < b.hashtag) {
            return -1;
          } else if (a.hashtag > b.hashtag) {
            return 1;
          } else {
            return 0;
          }
        });
      } else if (this.sortBy == "title") {
        data.sort(function(a, b) {
          if (a.title.toLowerCase() < b.title.toLowerCase()) {
            return -1;
          } else if (a.title.toLowerCase() > b.title.toLowerCase()) {
            return 1;
          } else {
            return 0;
          }
        });
      } else if (this.sortBy == "priority") {
        data.sort(function(a, b) {
          if (a.priority == "high" && b.priority == "avg") {
            return -1;
          }
          if (a.priority == "high" && b.priority == "low") {
            return -1;
          }
          if (a.priority == "avg" && b.priority == "high") {
            return 1;
          }
          if (a.priority == "avg" && b.priority == "low") {
            return -1;
          }
          if (a.priority == "low" && b.priority == "high") {
            return 1;
          }
          if (a.priority == "low" && b.priority == "avg") {
            return 1;
          } else {
            return 0;
          }
        });
      }
      return data;
    }
  }
};
</script>

<style scoped>
.todoOutline {
  height: 100%;
  width: 100%;
}
.todoGrid {
  height: 100vh;
  width: 100%;
  display: grid;
  overflow-y: auto;
}

/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .todoGrid {
    grid-template-columns: auto;
    grid-template-rows: 100%;
    grid-column-gap: 10px;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .todoGrid {
    grid-template-columns: auto 100px;
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .todoGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 25px;
  }
}
</style>