<template>
  <div
    class="card text-center"
    v-bind:class="{ 'low': todoItem.priority =='low',
                    'avg': todoItem.priority =='avg',
                    'high': todoItem.priority =='high',
                    'selected': todoItem.checkedForDelete}"
  >
    <div class="card-header">
      <label v-if="todoItem.checkedForDelete" class="checkboxContainer">
        <input type="checkbox" name="checkbox" v-on:click="checkedForDelete(todoItem)" checked />
        <span
          v-bind:class="{'checkmark checkmarkLow': todoItem.priority =='low',
                        'checkmark checkmarkAvg': todoItem.priority =='avg',
                        'checkmark checkmarkHigh': todoItem.priority =='high',}"
        ></span>
      </label>
      <label v-else class="checkboxContainer">
        <input type="checkbox" name="checkbox" v-on:click="checkedForDelete(todoItem)" />
        <span
          v-bind:class="{'checkmark checkmarkLow': todoItem.priority =='low',
                        'checkmark checkmarkAvg': todoItem.priority =='avg',
                        'checkmark checkmarkHigh': todoItem.priority =='high',}"
        ></span>
      </label>
      #{{ todoItem.hashtag}}
    </div>
    <div class="card-body" @click="editTodoItem(todoItem)">
      <h5 class="card-title">{{ todoItem.title }}</h5>
      <p class="card-text">{{ todoItem.description }}</p>
    </div>
    <div v-if="todoItem.end != null" class="card-footer text-muted">
      <span
        class="gridRight"
        v-if="todoItem.start.getHours() == 0 && todoItem.end.getHours() == 0 && todoItem.end.getDate() - todoItem.start.getDate() == 1"
      >{{todoItem.start.getDate()}}.{{todoItem.start.getMonth() + 1}}.{{todoItem.start.getFullYear()}} - ganztägig</span>
      <span v-else-if="todoItem.end.getMinutes() < 10">
        <div
          v-if="todoItem.end.getDate() - todoItem.start.getDate() == 0"
        >{{todoItem.start.getHours()}}:0{{todoItem.start.getMinutes()}} - {{todoItem.end.getHours()}}:0{{todoItem.end.getMinutes()}} {{todoItem.start.getDate()}}.{{todoItem.start.getMonth() + 1}}.{{todoItem.start.getFullYear()}}</div>
        <div v-else>
          {{todoItem.start.getHours()}}:0{{todoItem.start.getMinutes()}} {{todoItem.start.getDate()}}.{{todoItem.start.getMonth() + 1}}.{{todoItem.start.getFullYear()}} -
          {{todoItem.end.getHours()}}:0{{todoItem.end.getMinutes()}} {{todoItem.end.getDate()}}.{{todoItem.end.getMonth() + 1}}.{{todoItem.end.getFullYear()}}
        </div>
      </span>
      <span v-else>
        {{todoItem.start.getHours()}}:{{todoItem.start.getMinutes()}} {{todoItem.start.getDate()}}.{{todoItem.start.getMonth() + 1}}.{{todoItem.start.getFullYear()}} -
        {{todoItem.end.getHours()}}:{{todoItem.end.getMinutes()}} {{todoItem.end.getDate()}}.{{todoItem.end.getMonth() + 1}}.{{todoItem.end.getFullYear()}}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object
    }
  },
  data() {
    return {
      todoItem: this.item
    };
  },
  methods: {
    async checkedForDelete(item) {
      console.log(item);
      this.$store.dispatch("checkedForDeleteAction", item);
    },
    editTodoItem(item) {
      this.$root.$emit("EventEditTodoItem", item);
    }
  }
};
</script>

<style scoped>
input {
  float: left;
}
.card {
  height: 100%;
  width: 100%;
}

.selected {
  text-decoration: line-through;
  opacity: 0.35;
}

.low {
  border: 2px solid #5cb85c;
}
.avg {
  border: 2px solid #f0ad4e;
}
.high {
  border: 2px solid #d9534f;
}
</style>