<template>
  <form class="p-5" v-on:submit.prevent="login">
      <h2>Login</h2>
      <h2>{{err}}</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input v-model="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</template>

<script>
import axios from 'axios'
import router from '../../router'
import Eventbus from './EventBus'

export default {

    data() {
        return {
            email: null,
            password: null,
            err: null
        }
    },

    methods: {
        login() {
            axios.post('http://localhost:5000/api/users/login', // sends email and password
                {
                    email: this.email,
                    password: this.password
                }
            ).then((res) => {
                if (!res.data.error){ // if response contains no error: save response in local storage as usertoken
                    localStorage.setItem('usertoken', res.data)
                this.email = null
                this.password = null
                this.emitMethod()
                let token = localStorage.getItem('usertoken')
                axios.post("http://localhost:5000/api/plan/checkForUserConfig", { // checks for an existing config for this user
                    token
                })
                router.go('/') // sends the user to the default route
                }
                else {
                    this.err = res.data.error;
                }
                
                
            }).catch((err) => {
                console.log(err)
            })
            
        },
        emitMethod () {
            Eventbus.$emit('logged-in', 'loggedIn')
        }
    }


}
</script>

<style scoped>

</style>