<template>
<div class="p-5">
  <h2>Profil</h2>
  <h3>{{first_name}} {{last_name}}</h3>
  <h3>{{email}}</h3>
  {{id}}
</div>
</template>

<script>
import jwtDecode from 'jwt-decode'




export default {
    data() {
        const token = localStorage.getItem('usertoken');
        const decoded = jwtDecode(token);
//        console.log(decoded)
        return {
            first_name: decoded.first_name, // extracts some user info from the decoded token
            last_name: decoded.last_name,
            email: decoded.email,
            id: decoded._id
        }
    }


}
</script>

<style scoped> 

</style>