<template>


  <form class="p-5">
    <h2>Register</h2>
    <h3>{{err}}</h3>
    <div class="row">
        <div class="col">
            <input v-model="first_name" type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input v-model="last_name" type="text" class="form-control" placeholder="Last name">
        </div>
  </div>
    <div class="form-group">
        <label for="InputEmail1">Email address</label>
        <input v-model="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="InputPassword1">Password</label>
        <input v-model="password" type="password" class="form-control" id="InputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary" @click.prevent="register">Submit</button>
</form>
</template>

<script>
import axios from 'axios'
import router from '../../router'

export default {
    
    data() {
        return {
            first_name: null,
            last_name: null,
            email: null,
            password: null,
            err: null
        }
    },
    methods: {
        register() {
            axios.post('http://localhost:5000/api/users/register', // sends registry data
                {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    email: this.email,
                    password: this.password
                }
            ).then((res) => {
//                console.log(res)
                if (res.data.error) {
                    this.err = res.data.error
                }
                else router.replace('/login') // sends user to login route if there is no error
            }).catch((err) => {
                console.log(err)
            })
        }
    }

}
</script>

<style scoped>

</style>