<template>
  <div class="base">
    <div class="topnav">
      <NavbarBackground :name="name" :comp="compNav" />
    </div>
    <div class="main-frame">
      <ContentFrame :name="name" :comp="compCont"></ContentFrame>
      <NewItemFrame :name="name" />
    </div>
  </div>
</template>

<script>
import NavbarBackground from "../components/top_nav/NavbarBackground";
import NewItemFrame from "../components/RightSideNewItem/NewItemFrame";
import ContentFrame from "../components/content/ContentFrame";

export default {
  components: {
    NavbarBackground,
    NewItemFrame,
    ContentFrame
  },
  data() {
    return {
      name: "Calendar",
      compNav: "CalendarNavbar",
      compCont: "CalendarContent"
    };
  },
  computed: {},
  mounted() {}
};
</script>

<style scoped>
/* General styling ------------------------------------------------------------------------- */
.base {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template: 50px auto / 1fr;
  grid-row-gap: 10px;
}

.main-frame {
  height: 100%;
  width: 100%;
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}
NewItemFrame {
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
}

/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .main-frame {
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
  }
  NewItemFrame {
    display: none;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .main-frame {
    grid-template-columns: 2fr 1fr; /*todo: fix sizing for tablet sized display */
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .main-frame {
    grid-template-columns: auto 300px;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }
}
</style>