<template>
  <div class="base">
    <div class="topnav">
      <NavbarBackground :name="name" :comp="comp" />
    </div>
    <div class="content" v-if="config.defaultLists">
      <CalendarCard class="calendar" v-if="config.defaultLists.calendar" />
      <Upcoming class="upcoming" v-if="config.defaultLists.calendar7Days" />
      <ShoppingCard v-if="config.defaultLists.shopping" />
      <TagFilteredCard v-for="(tag,index) in dashboardTagsCustom" :key="index" :tag="tag" />
    </div>
  </div>
</template>

<script>
import NavbarBackground from "../components/top_nav/NavbarBackground";
import CalendarCard from "../components/dashboard/CalendarCard";
import Upcoming from "../components/dashboard/Upcoming";
import ShoppingCard from "../components/dashboard/ShoppingCard";
import TagFilteredCard from "../components/dashboard/TagFilteredCard";
import PlanService from "../PlanService";

export default {
  components: {
    NavbarBackground,
    CalendarCard,
    Upcoming,
    ShoppingCard,
    TagFilteredCard
  },
  data() {
    return {
      name: "Dashboard",
      comp: "DashboardNavbar",
      dashboardTagsCustom: [],
      config: {}
    };
  },
  methods: {
    async cutTagArray() { // this displays the approriate amount of components on the dashboard to always fill the dashboard
      if (
        this.config.defaultLists.calendar == true &&
        this.config.defaultLists.calendar7Days == true &&
        this.config.defaultLists.shopping == true
      ) {
        var tmpArray = await PlanService.getDashboardTagsCustom();
        tmpArray.splice(5);
        this.dashboardTagsCustom = tmpArray;
      } else if (
        this.config.defaultLists.calendar == true &&
        this.config.defaultLists.calendar7Days == true &&
        this.config.defaultLists.shopping == false
      ) {
        tmpArray = await PlanService.getDashboardTagsCustom();
        tmpArray.splice(6);
        this.dashboardTagsCustom = tmpArray;
      } else if (
        this.config.defaultLists.calendar == false &&
        this.config.defaultLists.calendar7Days == false &&
        this.config.defaultLists.shopping == true
      ) {
        tmpArray = await PlanService.getDashboardTagsCustom();
        tmpArray.splice(11);
        this.dashboardTagsCustom = tmpArray;
      } else if (
        this.config.defaultLists.calendar == false &&
        this.config.defaultLists.calendar7Days == false &&
        this.config.defaultLists.shopping == false
      ) {
        tmpArray = await PlanService.getDashboardTagsCustom();
        tmpArray.splice(12);
        this.dashboardTagsCustom = tmpArray;
      }
    }
  },
  async created() {
    this.config = await PlanService.getConfigComplete();
    this.cutTagArray();
  }
};
</script>

<style scoped>
/* General styling ------------------------------------------------------------------------- */
.base {
  height: 100vh;
  width: 100%;
  display: grid;

  grid-template: 50px auto / 1fr;
  grid-row-gap: 10px;
}

.content {
  height: 100%;
  width: 100%;
  padding: 0 10px 10px 10px;
  display: grid;
  overflow-y: hidden;

  grid-auto-rows: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.content >>> .card {
  height: 100%;
  overflow: hidden;
}

.content >>> .card .card-body {
  height: 100%;
  overflow: auto;
}
/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .base {
    grid-row-gap: 5px;
  }

  .content {
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  /*.content {
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  }*/

  .content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }

  .calendar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .upcoming {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
</style>