<template>
  <div class="base">
    <div class="topnav">
      <NavbarBackground :name="name" :comp="compNav" />
    </div>
    <div class="main-frame">
      <ContentFrame :name="name" :comp="compCont" />
      <NewItemFrame :name="name" />
    </div>
  </div>
</template>

<script>
import NavbarBackground from "../components/top_nav/NavbarBackground";
import NewItemFrame from "../components/RightSideNewItem/NewItemFrame";
import ContentFrame from "../components/content/ContentFrame";

export default {
  components: {
    NavbarBackground,
    NewItemFrame,
    ContentFrame
  },
  data() {
    return {
      name: "Einkaufen",
      compNav: "GroceriesNavbar",
      compCont: "ShoppingContent"
    };
  },
  computed: {},
  mounted() {}
};
</script>

<style scoped>
/* General styling ------------------------------------------------------------------------- */
.base,
.main-frame,
NewItemFrame,
.content {
  height: 100%;
  width: 100%;
}

.base,
.main-frame,
.content {
  display: grid;
}

.base {
  grid-template: 50px auto / 1fr;
  grid-row-gap: 10px;
}

.main-frame {
  padding: 0px 10px 5px 10px;
}

.content,
.main-frame {
  overflow: hidden;
}

/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .main-frame {
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
  }

  NewItemFrame {
    display: none;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .main-frame {
    grid-template-columns: 2fr 1fr; /*todo: fix sizing for tablet sized display */
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .main-frame {
    grid-template-columns: auto 300px;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }
}
</style>