<template>
  <div class="topNavContainer h-100">
    <div class="topLeft"></div>
    <div class="topCenter">
      <span class="heading">Kalender</span>
    </div>
    <div class="topRight">
      <button class="btn btn-dark btn-outline-light" @click="showComingSoonModal">
        <i class="fas fa-search"></i>suchen
      </button>
      <button class="btn btn-dark btn-outline-light" @click="showComingSoonModal">
        <i class="fas fa-sign-out-alt"></i>logout
      </button>
    </div>
    <ComingSoonModal
      v-show="isComingSoonModalVisible"
      @close="closeComingSoonModal"
      v-on:close="closeComingSoonModal"
    />
  </div>
</template>

<script>
  import ComingSoonModal from "../modals/ComingSoonModal.vue";

  export default {
    data() {
      return {
        isComingSoonModalVisible: false
      }
    },

    components: {
      ComingSoonModal
    },

    methods: {
      showComingSoonModal() {
        this.isComingSoonModalVisible = true;
      },
      closeComingSoonModal() {
        this.isComingSoonModalVisible = false;
      },
    }
  };
</script>

<style scoped>
i {
  color: var(--blue);
  margin-right: 10px;
}
</style>