<template>
  <div class="topNavContainer h-100">
    <div class="topLeft">
      <button class="btn btn-dark btn-outline-light" @click="deleteChecked">
        <i class="fas fa-trash-alt"></i>
        löschen
      </button>
      <button class="btn btn-dark btn-outline-light" @click="showNewItemModal">
        <i class="fas fa-plus"></i>neues Item
      </button>
      <button class="btn btn-dark btn-outline-light" @click="showDashSettingsModal">
        <i class="fas fa-edit"></i>anpassen
      </button>
    </div>
    <div class="topCenter">
      <span class="heading">{{ name }}</span>
    </div>
    <div class="topRight">
      <button class="btn btn-dark btn-outline-light" @click="showComingSoonModal">
        <i class="fas fa-search"></i>suchen
      </button>
      <button class="btn btn-dark btn-outline-light" @click="showComingSoonModal">
        <i class="fas fa-sign-out-alt"></i>logout
      </button>
    </div>
    <topnavbarNewItemModal
      v-show="isNewItemModalVisible"
      @close="closeNewItemModal"
      v-on:close="closeNewItemModal"
    />
    <topnavbarDashSettingsModal
      v-show="isDashSettingsModalVisible"
      @close="closeDashSettingsModal"
      v-on:close="closeDashSettingsModal"
    />
    <ComingSoonModal
      v-show="isComingSoonModalVisible"
      @close="closeComingSoonModal"
      v-on:close="closeComingSoonModal"
    />
  </div>
</template>

<script>
import TopnavbarNewItemModal from "../modals/TopnavbarNewItemModal.vue";
import TopnavbarDashSettingsModal from "../modals/TopnavbarDashSettingsModal.vue";
import ComingSoonModal from "../modals/ComingSoonModal.vue";

export default {
  data() {
    return {
      isNewItemModalVisible: false,
      isDashSettingsModalVisible: false,
      isComingSoonModalVisible: false
    };
  },

  components: {
    TopnavbarNewItemModal,
    TopnavbarDashSettingsModal,
    ComingSoonModal
  },

  methods: {
    showNewItemModal() {
      this.isNewItemModalVisible = true;
    },
    showDashSettingsModal() {
      this.isDashSettingsModalVisible = true;
    },
    showComingSoonModal() {
      this.isComingSoonModalVisible = true;
    },
    closeNewItemModal() {
      this.isNewItemModalVisible = false;
    },
    closeDashSettingsModal() {
      this.isDashSettingsModalVisible = false;
    },
    closeComingSoonModal() {
      this.isComingSoonModalVisible = false;
    },
    async deleteChecked() {
      this.$store.dispatch("deleteAllCheckedAction", "both");
    }
  },

  props: {
    name
  }
};
</script>

<style scoped>
i {
  color: var(--blue);
  margin-right: 10px;
}
</style>