<template>
  <div id="navbar" class="w-100 bg-dark h-100">
    <component :name="name" :is="component" />
  </div>
</template>

<script>
import DashboardNavbar from "./DashboardNavbar";
import CalendarNavbar from "./CalendarNavbar";
import ToDosNavbar from "./ToDosNavbar";
import GroceriesNavbar from "./GroceriesNavbar";
import ListNavbar from "./ListNavbar";
import AllNavbar from "./AllNavbar";

export default {
  components: {
    DashboardNavbar,
    CalendarNavbar,
    ToDosNavbar,
    GroceriesNavbar,
    AllNavbar,
    ListNavbar
  },
  props: {
    name: {
      type: String
    },
    comp: {
      type: String
    }
  },
  data() {
    return {
      component: this.comp
    };
  },
  
};
</script>

<style scoped>
#navbar {
  padding-left: 0;
  padding-right: 10px;
}

#navbar >>> .heading {
  font-size: 18pt;
  color: white;
}

#navbar >>> .topNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar >>> button {
  margin-right: 5px;
}

#navbar >>> button:last-of-type {
  margin-right: 0;
}
</style>