<template>
  <div class="topNavContainer h-100">
    <div class="topLeft">
      <button class="btn btn-dark btn-outline-light" v-on:click="deleteChecked()">
        <i class="fas fa-trash-alt"></i>löschen
      </button>
      <button class="btn btn-dark btn-outline-light" @click="showSortTodoModal">
        <i class="fas fa-sort-amount-down"></i>sortieren
      </button>
    </div>
    <div class="topCenter">
      <span class="heading">{{ name }}</span>
    </div>
    <div class="topRight">
      <button class="btn btn-dark btn-outline-light" @click="showComingSoonModal">
        <i class="fas fa-search"></i>suchen
      </button>
      <button class="btn btn-dark btn-outline-light" @click="showComingSoonModal">
        <i class="fas fa-sign-out-alt"></i>logout
      </button>
    </div>
    <ComingSoonModal
      v-show="isComingSoonModalVisible"
      @close="closeComingSoonModal"
      v-on:close="closeComingSoonModal"
    />
    <SortTodoModal
      v-show="isSortTodoModalVisible"
      @close="closeSortTodoModal"
      v-on:close="closeSortTodoModal"
    />
  </div>
</template>

<script>
import ComingSoonModal from "../modals/ComingSoonModal.vue";
import SortTodoModal from "../modals/SortTodoModal.vue";

export default {
  data() {
    return {
      isComingSoonModalVisible: false,
      isSortTodoModalVisible: false
    };
  },
  props: {
    name
  },
  components: {
    ComingSoonModal,
    SortTodoModal
  },
  methods: {
    showComingSoonModal() {
      this.isComingSoonModalVisible = true;
    },
    closeComingSoonModal() {
      this.isComingSoonModalVisible = false;
    },
    showSortTodoModal() {
      this.isSortTodoModalVisible = true;
    },
    closeSortTodoModal() {
      this.isSortTodoModalVisible = false;
    },
    async deleteChecked() {
      this.$store.dispatch("deleteAllCheckedAction", "todo");
    }
  }
};
</script>

<style scoped>
i {
  color: var(--blue);
  margin-right: 10px;
}
</style>