<template>
  <div
    class="navbar bg-dark h-100 w-100 align-content-between justify-content-between"
    id="sidebar"
  >
    <img src="../assets/logo.svg" alt="logo" style="opacity:0.8;" />

    <ul v-if="auth" class="navbar-nav">
      <li class="nav-item">
        <router-link to="/" exact>
          <i class="fas fa-columns"></i>
          <span class="link">Dashboard</span>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/calendar">
          <i class="far fa-calendar-alt"></i>
          <span class="link">Kalender</span>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/todos">
          <i class="fas fa-list"></i>
          <span class="link">ToDos</span>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/groceries">
          <i class="fas fa-shopping-cart"></i>
          <span class="link">Einkaufen</span>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/all">
          <i class="fas fa-infinity"></i>
          <span class="link">Alle Einträge</span>
        </router-link>
      </li>
      <hr />
      <!-- User-generated lists -->
      <li class="nav-item" v-for="(tag, index) in taglist" :key="index">
        <router-link :to="{ name: 'list' , params: { tag: tag}}">
          <i class="fas fa-hashtag"></i>
          <span class="link">{{ tag | capitalize }}</span>
          <i class="remove fas fa-minus" @click="remove(tag)"></i>
        </router-link>
      </li>
      <!-- User-generated lists end ----->

      <li class="nav-item" @click="showModal">
        <i class="fas fa-plus"></i>
        <span class="link">Neue Liste</span>
      </li>
    </ul>
    
    <p v-if="!auth" class="text-dark">
      ( ͡° ͜ʖ ͡°) MUCH EMPTY
    </p>


    <ul>
      <li v-if="auth" class="nav-item"><!-- link to profile only shows if token is present -->
        <router-link to="/profile">
        <i class="fas fa-user"></i>
          <span class="link">Account</span>
        </router-link>
      </li>
      <li v-if="auth" class="nav-item" @click="logout"><!-- link to logout only shows if token is present -->
        <i class="fas fa-sign-out-alt"></i>
        <span class="link">Ausloggen</span>
      </li>
      <li v-if="!auth" class="nav-item"><!-- link to login only shows if token is absent -->
        <router-link to="/login" exact>
          <i class="fas fa-sign-in-alt"></i>
          <span class="link">Einloggen</span>
        </router-link>
      </li>
      <li v-if="!auth" class="nav-item"><!-- link to registration only shows if token is absent -->
        <router-link to="/register">
          <i class="fas fa-user-plus"></i>
          <span class="link">Registrieren</span>
        </router-link>
      </li>
    </ul>
    <sidebarModal v-show="isModalVisible" @close="closeModal" />
  </div>
</template>

<script>
import PlanService from "../PlanService";
import SidebarModal from "./modals/SidebarModal.vue";
import EventBus from "../views/userProfile/EventBus"
import router from '../router';

EventBus.$on('logged-in', test => {
  console.log(test)
})

export default {
  data() {
    return {
      taglist: [],
      isModalVisible: false,
      auth: null,
      user: null
    };
  },
  components: {
    SidebarModal
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    async remove(tag) {
      this.taglist.splice(this.taglist.indexOf(tag), 1);
      await PlanService.removeSidebarTags(tag);
    },
    async addSideBarTag(inputTag) {
      this.taglist.push(inputTag);
      await PlanService.addSidebarTags(inputTag);
    },
    placeHolder() {
      console.log("placeholder");
    },
    logout() {
      localStorage.removeItem('usertoken')
      this.auth = null;
      router.replace("/login")
    }
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  async mounted() {
    EventBus.$on('logged-in', () => {                   // Set usertoken on login
      this.auth = localStorage.getItem('usertoken')
      this.taglist = PlanService.getSidebarTags();
    })
    this.auth = localStorage.getItem('usertoken')       // Check for usertoken on refresh
    this.taglist = await PlanService.getSidebarTags();
    this.$root.$on("eventAddNewSidebarTag", inputTag => {
      this.addSideBarTag(inputTag);
    });
  }
};
</script>

<style scoped>
#sidebar {
  padding: 10px 15px 15px 15px;
  flex-direction: column;
}

.navbar {
  align-items: baseline;
}

img {
  width: 100%;
}

/* LIST STYLING ----------------------------------------------------- */
ul,
li,
.router-link-active {
  width: 200px;
}

.remove {
  opacity: 0;
  margin-left: auto;
}

li:hover .remove {
  opacity: 1;
}

a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

ul,
.router-link-active {
  margin: 0 -15px;
}

li,
.router-link-active {
  padding-left: 15px;
  height: 35px;
  font-size: 13pt;
  cursor: pointer;
}

ul i {
  color: var(--blue);
  margin-right: 10px;
}
.link {
  color: white;
  font-size: 10pt;
}

li:hover,
.router-link-active {
  background-color: var(--gray);
  -webkit-box-shadow: inset 5px 0px 0px 0px var(--blue);
  -moz-box-shadow: inset 5px 0px 0px 0px var(--blue);
  box-shadow: inset 5px 0px 0px 0px var(--blue);
}
a:hover {
  text-decoration: none;
}
</style>