<template>
  <CalendarContent />
</template>

<script>
import CalendarContent from "../content/CalendarContent";
export default {
  components: {
    CalendarContent
  }
};
</script>

<style scoped>
</style>