<template>
  <div class="card">
    <h5 class="card-header bg-dark text-white">Einkaufsliste</h5>
    <div class="card-body">
      <div v-for="shopCat in content" :key="shopCat.id">
        <div v-for="item in shopCat" :key="item._id">
          <div v-if="item.checkedForDelete == true">
            <label class="checkboxContainer">
              <input type="checkbox" name="checkbox" v-on:click="checkedForDelete(item) " checked />
              <span class="checkmark"></span>
            </label>
            <span class="line-through itemTitle">{{item.title}}</span>
          </div>
          <div v-else>
            <label class="checkboxContainer">
              <input type="checkbox" name="checkbox" v-on:click="checkedForDelete(item) " />
              <span class="checkmark"></span>
            </label>
            <span class="itemTitle">{{item.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    async checkedForDelete(item) {
      this.$store.dispatch("checkedForDeleteAction", item);
    }
  },
  computed: {
    content() {
      return this.$store.getters.getItemsByCategory("shopping");
    }
  }
};
</script>

<style scoped>
.itemTitle {
  margin-left: 25px;
}

.line-through {
  text-decoration: line-through;
}
</style>