<template>
  <div class="card">
    <h5 class="card-header bg-dark text-white">#{{tag | capitalize}}</h5>
    <div class="card-body">
      <div v-for="userdata in content" :key="userdata._id">
        <div v-if="userdata.start != null">
          <div v-if="userdata.category=='todo'">
            <div v-if="userdata.checkedForDelete == true" class="gridWithDate">
              <label class="checkboxContainer">
                <input type="checkbox" v-on:click="checkedForDelete(userdata)" checked />
                <span
                  v-bind:class="{'checkmark checkmarkLow': userdata.priority =='low',
                        'checkmark checkmarkAvg': userdata.priority =='avg',
                        'checkmark checkmarkHigh': userdata.priority =='high',}"
                ></span>
              </label>
              <del class="gridCenter">{{userdata.title}}</del>
              <span
                class="gridRight"
                v-if="userdata.start.getHours() == 0 && userdata.end.getHours() == 0 && userdata.end.getDate() - userdata.start.getDate() == 1"
              >ganztägig {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <span
                class="gridRight"
                v-else-if="userdata.start.getMinutes() < 10"
              >{{userdata.start.getHours()}}:0{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <span
                class="gridRight"
                v-else
              >{{userdata.start.getHours()}}:{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <hr class="gridCenter" />
            </div>
            <div v-else class="textTodoFalse gridWithDate">
              <label class="checkboxContainer">
                <input type="checkbox" v-on:click="checkedForDelete(userdata)" />
                <span
                  v-bind:class="{'checkmark checkmarkLow': userdata.priority =='low',
                        'checkmark checkmarkAvg': userdata.priority =='avg',
                        'checkmark checkmarkHigh': userdata.priority =='high',}"
                ></span>
              </label>
              <div class="gridCenter">{{userdata.title}}</div>
              <span
                class="gridRight"
                v-if="userdata.start.getHours() == 0 && userdata.end.getHours() == 0 && userdata.end.getDate() - userdata.start.getDate() == 1"
              >ganztägig {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <span
                class="gridRight"
                v-else-if="userdata.start.getMinutes() < 10"
              >{{userdata.start.getHours()}}:0{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <span
                class="gridRight"
                v-else
              >{{userdata.start.getHours()}}:{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
              <hr class="gridCenter" />
            </div>
          </div>
          <div class="gridWithDate" v-else>
            <i class="far fa-calendar-alt iconStyle"></i>
            <div class="gridCenter">{{userdata.title}}</div>
            <span
              class="gridRight"
              v-if="userdata.start.getHours() == 0 && userdata.end.getHours() == 0 && userdata.end.getDate() - userdata.start.getDate() == 1"
            >ganztägig {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
            <span
              class="gridRight"
              v-else-if="userdata.start.getMinutes() < 10"
            >{{userdata.start.getHours()}}:0{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
            <span
              class="gridRight"
              v-else
            >{{userdata.start.getHours()}}:{{userdata.start.getMinutes()}} {{userdata.start.getDate()}}.{{userdata.start.getMonth() + 1}}.{{userdata.start.getFullYear()}}</span>
            <hr class="gridCenter" />
          </div>
        </div>
        <div v-else>
          <div v-if="userdata.checkedForDelete == false" class="gridWithDate">
            <label class="checkboxContainer">
              <input type="checkbox" v-on:click="checkedForDelete(userdata)" />
              <span
                v-bind:class="{'checkmark checkmarkLow': userdata.priority =='low',
                        'checkmark checkmarkAvg': userdata.priority =='avg',
                        'checkmark checkmarkHigh': userdata.priority =='high',}"
              ></span>
            </label>
            <div class="noDateTitel">
              {{userdata.title}}
              <hr />
            </div>
          </div>
          <div v-else class="gridWithDate">
            <label class="checkboxContainer">
              <input type="checkbox" v-on:click="checkedForDelete(userdata)" checked />
              <span
                v-bind:class="{'checkmark checkmarkLow': userdata.priority =='low',
                        'checkmark checkmarkAvg': userdata.priority =='avg',
                        'checkmark checkmarkHigh': userdata.priority =='high',}"
              ></span>
            </label>
            <div class="noDateTitel">
              <del>{{userdata.title}}</del>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    tag: {
      type: String
    }
  },
  data() {
    return {};
  },
  methods: {
    async checkedForDelete(item) {
      this.$store.dispatch("checkedForDeleteAction", item);
    }
  },
  computed: {
    content() {
      return this.$store.getters.getItemsByHashtag(this.tag);
    }
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
};
</script>

<style scoped>
.iconStyle {
  margin-top: 6px;
  color: #373a3c;
}

.gridRight {
  justify-self: end;
}
.gridWithDate {
  height: 100%;
  width: 100%;
  display: grid;
}

.gridLeft .gridRight .gridCenter {
  width: 100%;
  height: 100%;
}

hr {
  margin-top: 4px;
  margin-bottom: 4px;
}
/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .gridWithDate {
    grid-template-columns: 1fr 12fr 3fr;
    grid-column-gap: 5px;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .gridWithDate {
    grid-template-columns: 1fr 12fr 3fr;
    grid-column-gap: 5px;
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .gridWithDate {
    grid-template-columns: 1fr 12fr 3fr;
    grid-column-gap: 5px;
  }

  .gridLeft {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .gridRight {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .gridCenter {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
</style>