<template>
  <div class="card">
    <h5 class="card-header bg-dark text-white">Nächsten 7 Tage</h5>
    <div class="card-body">
      <div v-for="(timedCat, key, index) in dataWithDate" v-bind:key="timedCat.key">
        <AllTimedCatCard :timedCatProp="timedCat" :labelProp="labelArray[index]" />
      </div>
    </div>
  </div>
</template>

<script>
import AllTimedCatCard from "../content/AllTimedCatCard";
export default {
  components: {
    AllTimedCatCard
  },
  data() {
    return {
      labelArray: [
        "Heute",
        "Morgen",
        "Übermorgen",
        "Rest der Woche",
        "Nächste Woche",
        "Rest des Monats",
        "Nächster Monat",
        "Rest des Jahres"
      ],
      tmpDataSplitDate: {
        today: [],
        tomorrow: [],
        theDayAfterTomorrow: [],
        restOfWeek: [],
        nextWeek: [],
        restOfMonth: [],
        nextMonth: [],
        restOfYear: []
      }
    };
  },
  computed: {
    dataWithDate() {
      var data = this.$store.getters.getTodoAppo7DaysWithDateWithDateCategories(
        this.tmpDataSplitDate
      );
      return data;
    }
  }
};
</script>
<style scoped>
ul {
  list-style: none;
}

.card-body {
  height: 90vh;
  overflow-y: scroll;
}

.outer,
.grid,
.withDate,
.withoutDate {
  height: 100%;
  width: 100%;
}
.grid {
  display: grid;
}

/* Small screen ------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: auto;
    grid-template-rows: 100%;
    grid-column-gap: 10px;
  }
}

/* Medium screen ------------------------------------------------------------------------- */
@media screen and (min-width: 451px) {
  .grid {
    grid-template-columns: auto 100px;
    grid-template-rows: 100%;
    grid-column-gap: 10px;
  }
}

/* Big screen ------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .grid {
    grid-template: 1fr / 2fr 1fr;
    grid-column-gap: 10px;
  }
}
</style>