<template>
  <div class="container-fluid pr-0 pl-0">
    <div class="item-sidebar">
      <Sidebar />
    </div>
    <div class="item-mainWindow">
      <router-view />
    </div>
  </div>
</template>


<script>
import Sidebar from "./components/Sidebar";
import PlanService from "./PlanService.js";
export default {
  name: "App",
  components: {
    Sidebar
  },
  async mounted() {
    this.$store.dispatch(
      //function to fill store with db data (todos and appos) at website start
      "importDbTodoAppo",
      await PlanService.getCategoryTodoAppoReturn()
    );
    this.$store.dispatch(
      //function to fill store with db data (shopping) at website start
      "importDbShop",
      await PlanService.getCategoryShopReturn()
    );
  }
};
</script>

<style>
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container-fluid {
  height: 100%;
  width: 100%;
  margin: 0%;

  display: grid;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  grid-row-gap: 10px;
}

.item-mainWindow {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1 / span 4;
}

/* Small screen */
@media screen and (max-width: 450px) {
  .item-sidebar {
    display: none;
  }

  .container-fluid {
    grid-template-columns: auto;
  }

  .item-mainWindow {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1 / span 4;
  }
}

/* Medium screen */
@media screen and (min-width: 451px) {
  .container-fluid {
    grid-template-columns: 150px auto;
  }

  .item-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1 / span 4;
  }
}

/* Big screen */
@media screen and (min-width: 769px) {
  .container-fluid {
    grid-template-columns: 200px auto;
  }

  .item-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1 / span 4;
  }
}

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox HighPriority*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  margin-top: 6px;
  background-color: var(--blue);
  border: 1.5px solid var(--blue);
}

.checkmarkHigh {
  background-color: #d9534f;
  border: 1.5px solid #d9534f;
}

.checkmarkAvg {
  background-color: #f0ad4e;
  border: 1.5px solid #f0ad4e;
}

.checkmarkLow {
  background-color: #5cb85c;
  border: 1.5px solid #5cb85c;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 11px;
  border: solid #373a3c;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
